compatibility_date = "2022-11-25"
compatibility_flags = ["durable_object_alarms"]

name = "worker-template"
workers_dev = true
routes = []
vars = { }
main = "./dist/_worker.js"


[build]
command = "npm install && npm run build"
upload.format = "modules"

[durable_objects]
bindings = [
	{ name = "eventStorage", class_name = "EventStorage" },
	{ name = "bucketStorage", class_name = "BucketStorage" },
]

[env.production]
workers_dev = false
vars = {  }
#durable_objects.bindings = []
kv_namespaces = []
r2_buckets = []

[env.local]
workers_dev = true
vars = { adminSecret = "adminSecret" }
#durable_objects.bindings = []
kv_namespaces = []
r2_buckets = []

[miniflare]
durable_objects_persist = "./.miniflare/durable-objects/"
kv_persist = "./.miniflare/kv/"
port = 8788
